* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0.5rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.color-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 1rem auto;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 0.25rem;
}

.color-picker,
.color-input {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.color-input {
  margin-left: 0.5rem;
}

.btn {
  outline: none;
  border: none;
  background: none;
  padding: 0.5rem;
  color: white;
  background-color: #3434ff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
}

.underline {
  margin: 0 auto;
  width: 5rem;
  border-bottom: 4px solid #3434ff;
  border-radius: 0.25rem;
}

.color-container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.color {
  height: 100px;
  padding: 0.5rem;
}

.color-light {
  color: white;
}

.percent-value {
  font-size: 0.75rem;
}

.color-value {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .color-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 900px) {
  .color-container {
    grid-template-columns: repeat(5, auto);
  }
}
